@charset "UTF-8";

@media only screen and (max-width: 400px) {

    header, section.introduction, section.content, section.finaly, footer {
        padding: 0 5%;
    }

    /* Cabeçalho */
    div.menu-mobile {
        display: block;
        color: gray;
    }

    div.menu-mobile span.material-symbols-outlined {
        font-size: 2rem;
    }

    header menu, div.buttons {
        display: none;
    }

    /* Seção introdução */
    section.introduction {
        flex-direction: column-reverse;
        overflow: hidden;
    }

    section.introduction div.left, section.introduction div.rigth{
        width: 100%;
    }

    section.introduction img {
        width: 30rem;
        position: relative;
        left: 0;
        object-position: 1rem;
    }

    /* Conteudo */
    div.cardsContent {
        flex-direction: column;
    }

    div.card {
        width: 100%;
    }

    /* Rodapé  */
    footer {
        flex-direction: column;
        align-items: center;
    }
}